[mysql]
default_character_set = utf8mb4

[mysqld]
character_set_server = utf8mb4
transaction_isolation = READ-COMMITTED
sql_mode = TRADITIONAL,NO_AUTO_VALUE_ON_ZERO,ONLY_FULL_GROUP_BY

collation-server = utf8mb4_bin
